<h1>Lists</h1>

<% if @lists.any? %>
  <div class="lists">
    <% @lists.each do |list| %>
    <div class="card">
      <%= list.name %>
    </div>
  <% end %>
  </div>
<% else %>
  There are no lists!
<% end %>


<%= link_to "Add a new list", new_list_path %>
