<h1><%= @list.name %></h1>
<% @bookmarks.each do |bookmark| %>
  <%= bookmark.movie.title %>
  <%= bookmark.comment %>
<% end %>
<%= link_to "Add a new movie to this list", new_list_bookmark_path(@list) %>
