.jumbotron {
  height: 400px;
  background-position: top;
  background-size: cover;
  background-image: asset-url('lists.jpg');
}

.bookmark-card {
  position: relative;
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: top;
  color: white;
  padding: 0;
}

.delete-link {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.form {
 border-radius: 10px;
 border: 2px solid grey;
 background-color: white;
 box-shadow: 1px 1px 5px darkgray;
}