.jumbotron {
  height: 400px;
  background-position: top;
  background-size: cover;
  background-image: asset-url('lists.jpg');
}

.bookmark-card {
  position: relative;
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: top;
  color: white;
}

.delete-link {
  position: absolute;
  right: 0px;
  bottom: 0px;
}