.jumbotron {
  height: 400px;
  background-image: url("lists.jpg");
  background-position: top;
  background-size: cover;
}

.bookmark-card {
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: top;
}